// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
  
}

.masthead-title {
  margin-bottom: 0;

  a {
    //color: inherit;
    color: var(--black);
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    text-decoration: none;
  }

  a.nav-title{
    font-size: var(--body-font-size);
    font-family: var(--body-font);
  }
  small {
    font-weight: 400;
    opacity: .9;
  }
}

// Navbar styles
.nav {
  float: right;
  line-height: 1.25rem;
  word-spacing: 1rem; 
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
}